#heading {
    color: blue;
    text-align: center;
}
.header {
    display: flex;
    background-color: #f0f0f0;
    justify-content: space-between;
    border : 1px solid black;
    padding: 10px;
}
.logo {
    width: 100px;
    height: auto;
}
.nav-items {
    list-style-type: none;
    display: flex;
    gap: 20px;
    padding-top: 30px;
    padding-right: 20px;
    font-size: 24px;
}
.nav-items >ul {
    margin: 0;
    padding: 0; 
    font-size: 24px;
}
.body{
    display: flex;
    flex-direction: column;
    gap: 20px;
}
.container {
    display: flex;
    gap: 10px;
    padding-top: 20px;
    align-items: center;
}
.resturant-card {
    padding: 10px;
    width: 200px;
}
.resturant-card:hover
{
        border: 1px solid red;
        cursor: pointer;
}
.footer {
    display: flex;
   border: 1px solid black;
}
.resturant-img {
    width: 100%;
    height: auto;
}
.resturant-list {
    display: flex;
    gap: 20px;
    flex-wrap: wrap;
}
.filter-button
{
    cursor: pointer;
}
.shimmer-container
{
    display: flex;
    flex-wrap: wrap;
}
.shimmer-card
{
    width: 200px;
    height: 400px;
    margin: 20px;
    background: #f0f0f0;
}

.search-button {
    padding-right: 20px;
}